@mixin textShadow($pos){
    text-shadow: $pos $pos $pos rgba(0, 0, 0, 1);
}

:root{
    --mainBg: url('../img/mob_main-bg-1.jpg');
    --headerBg: url('../img/mob_header-bg-3.jpg');
    --textColor: #fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #1b1b1b;
    color: #fff;
    min-width: 100vw;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
@media only screen and (max-width: 414px){
.wrapper{
    min-width: 100%;
    min-height: 100%;
    display: grid;
    grid-template: 40vh 100vh 12vh / 1fr 1fr;
    grid-template-areas:
        "head head"
        "body body"
        "fotter fotter"
    ;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
    flex-flow: column;
    flex-wrap: wrap;
    color: #fff;
    font-size: 2rem;
    width: 100%;
    height: 100vh;
    overflow: visible;

    .menu__icon{
        position: fixed;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: 8vh;
        overflow: hidden;
        line-height: 1.4;
        border: none;
        color: #fff;
        font-size: 2.2rem;
        z-index: 2;
    }
    .menu__items{
        position: absolute;
        bottom: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 92vh;
        z-index: 1;

        .menu__item{
            display: flex;
            width: 100%;
            height: calc(92vh / 3);
            align-content: center;

            &:nth-child(1){
                background: rgba(0,255,255,0.9) no-repeat center center ;
                background-size: cover;
            }
            &:nth-child(2){
                background: rgba(0,0,0,0.9) no-repeat center center ;
                background-size: cover;
            }
            &:nth-child(3){
                background: rgba(232,190,25,0.9) no-repeat center center ;
                background-size: cover;
            }

            &-icon{
                display: block;
                width: auto;
                height: auto;
                font-size: 3rem;
                color: #fff;
                text-align: center;
                text-decoration: none;
                margin: auto;
                padding: 2%;
                border-bottom: rgba(255, 255, 255, 1) 4px solid;
                border-radius: 10px;
                overflow: hidden;
                @include textShadow(4px);
            }
        }
    }
    .menu-extended{
        display: block;
    }
}//End of menu
.header{
    grid-area: head;
    background: var(--headerBg) no-repeat center center;
    background-size: cover;

    .container{
        width: 100%;
        height: 50%;
        margin-top: 25%;
        color: #fff;
        text-align: center;
        padding-top: 5%;
        @include textShadow(5px);
        .heading{
            font-size: 3.5rem;
        }
        .subheading{
            font-size: 1.5rem;
        }
    }
}//End of header
.main{
    grid-area: body;
    background: var(--mainBg) no-repeat center center;
    background-size: cover;
    .posts{
    width: 100%;
    height: auto;
    background: transparent;
    color: var(--textColor);
    margin-top: 0vh;

    .post__preview{
        width: 100%;
        box-sizing: content-box;
        padding: 3% 0%;
        margin-top: 1vh;
        height: auto;
        background-color: rgba(0, 0, 0, 0.8);
        &:first-child{
            margin-top: 0;
        }

        .post__title{
            color: var(--textColor);
            font-size: 2.5rem;
            text-align: center;
            text-decoration: none;
        }
        .post__subtitle{
            display: block;
            width: 80%;
            margin: 0 auto;
            font-size: 1.2rem;
            text-align: center;
            text-decoration: none;
            color: var(--textColor);
            max-height: 3.5rem;
            overflow: hidden;
        }
        .post__meta{
            font-size: 1rem;
            color: var(--textColor);
            text-align: center;
        }
        .post__link{
            text-decoration: none;
        }
    }
}
}//End of main
.fotter{
    grid-area: fotter;

    .social{
        width: 100%;
        height: auto;
        @supports(display: flex){
            display: flex;
            flex-flow: row;
        }
        

        .social__item{
            width: calc(100vw / 6);
            height: calc(100vw / 6);
            margin: auto;
            float: left;
        }
    }
    .copyright__text{
        display: block;
        color: #fff;
        width: 100%;
        height: auto;
        font-size: 1rem;
        text-align: center;
    }
}//end of fotter
}


@media only screen and (min-width: 768px) and (max-width: 1024px){ //Tablets
.wrapper{
    min-width: 100%;
    min-height: 100%;
    display: grid;
    grid-template: 40vh 100vh 12vh / 1fr 1fr;
    grid-template-areas:
        "head head"
        "body body"
        "fotter fotter"
    ;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    overflow: visible;
    background: linear-gradient(#1b1b1b, transparent);

    .menu__icon{
        display: none;
    }
    .menu__items{
        display: flex;
        width: 80%;
        height: 100%;
        margin: auto;
        z-index: 1;

        .menu__item{
            display: flex;
            width: 100%;
            height: auto;
            align-content: center;

            &-icon{
                display: block;
                width: auto;
                height: auto;
                font-size: 3rem;
                color: #fff;
                text-align: center;
                text-decoration: none;
                margin: auto;
                padding: 2%;
                border-bottom: rgba(255, 255, 255, 1) 4px solid;
                border-radius: 10px;
                overflow: hidden;
                @include textShadow(4px);
            }
        }
    }
    .menu-extended{
        display: block;
    }
}//End of menu
.header{
    grid-area: head;
    background: var(--headerBg) no-repeat center center;
    background-size: cover;

    .container{
        width: 100%;
        height: 50%;
        margin-top: 12%;
        color: #fff;
        text-align: center;
        padding-top: 5%;
        @include textShadow(5px);
        .heading{
            font-size: 4.7rem;
        }
        .subheading{
            font-size: 1.8rem;
        }
    }
}//End of header
.main{
    grid-area: body;
    background: var(--mainBg) no-repeat center center fixed;
    background-size: cover;
    .posts{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr;
    background: transparent;
    color: var(--textColor);
    margin-top: 0vh;

    .post__preview{
        box-sizing: content-box;
        text-align: center;
        margin: 1vw;
        background-color: rgba(0, 0, 0, 0.8);
        &:nth-child(1), &:nth-child(2){
            margin: 0% 1vw;
        }

        .post__title{
            color: var(--textColor);
            font-size: 2.5rem;
            text-align: center;
            text-decoration: none;
        }
        .post__subtitle{
            display: block;
            width: 80%;
            margin: 0 auto;
            font-size: 1.5rem;
            text-align: center;
            text-decoration: none;
            color: var(--textColor);
            max-height: 3.5rem;
            overflow: hidden;
        }
        .post__meta{
            font-size: 1.3rem;
            margin: auto;
            color: var(--textColor);
            text-align: center;
        }
        .post__link{
            text-decoration: none;
        }
    }
}
}//End of main
.fotter{
    grid-area: fotter;

    .social{
        width: 100%;
        height: auto;
        margin-top: 2%;
        @supports(display: flex){
            display: flex;
            flex-flow: row;
        }
        

        .social__item{
            width: calc(100vw / 9);
            height: calc(100vw / 9);
            margin: auto;
            float: left;
        }
    }
    .copyright__text{
        display: block;
        color: #fff;
        width: 100%;
        height: auto;
        font-size: 2rem;
        text-align: center;
    }
}//end of fotter
}


