@mixin circle($radius, $bg){
    width: $radius;
    height: $radius;
    background: $bg;
    margin: auto;
    overflow: hidden;
    border-radius: 50%
}
@mixin shadowBox($offSet, $blur, $spread){
    -webkit-box-shadow: $offSet $offSet $blur $spread rgba(0,0,0,0.75);
    -moz-box-shadow: $offSet $offSet $blur $spread rgba(0,0,0,0.75);
    box-shadow: $offSet $offSet $blur $spread rgba(0,0,0,0.75);
}
:root{
    --circleInRadius: 50vw;
    --circleInRadius2: 40vw; 
    --circleInRadius3: 30vw; 
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media only screen and (max-width: 414px){
.loader{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #3c3c3c;
    z-index: 100;

    .circle__{
        &in{
            @include circle(var(--circleInRadius), #fff);
            position: fixed;
            left: calc(50vw - (var(--circleInRadius) / 2));
            align-self: center;
            @include shadowBox(0px, 7px, 2px);
        }
        &out{
            position: relative;
            top: 25%;
            display: flex; 
            text-align: center;
            align-content: center;
            align-items: center;
            @include circle(60vw, #1b1b1b);
            @include shadowBox(0px, 7px, 2px);
        }
    }
    .gap__color{
        display: block;
        width: 100%;
        height: 100%;
        background-color: #00ffff;
        animation: loader 3s 0s ease-in-out infinite; 
    }
}

@keyframes loader{
    0%{transform: translateY(-100%);}
    50%{transform: translateY(100%);}
    100%{transform: translateY(-100%);}
}
}

@media only screen and (min-width: 700px) and (max-width: 1024px){
.loader{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #3c3c3c;
    z-index: 100;

    .circle__{
        &in{
            @include circle(var(--circleInRadius2), #fff);
            position: fixed;
            left: calc(50vw - (var(--circleInRadius2) / 2));
            align-self: center;
            @include shadowBox(0px, 7px, 2px);
        }
        &out{
            position: relative;
            top: 25%;
            display: flex; 
            text-align: center;
            align-content: center;
            align-items: center;
            @include circle(50vw, #1b1b1b);
            @include shadowBox(0px, 7px, 2px);
        }
    }
    .gap__color{
        display: block;
        width: 100%;
        height: 100%;
        background-color: #00ffff;
        animation: loader 3s 0s ease-in-out infinite; 
    }
}

@keyframes loader{
    0%{transform: translateY(-100%);}
    50%{transform: translateY(100%);}
    100%{transform: translateY(-100%);}
}
}
@media only screen and (min-width: 1025px) and (max-width: 1366px){
.loader{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #3c3c3c;
    z-index: 100;

    .circle__{
        &in{
            @include circle(var(--circleInRadius3), #fff);
            position: fixed;
            left: calc(50vw - (var(--circleInRadius3) / 2));
            align-self: center;
            @include shadowBox(0px, 7px, 2px);
        }
        &out{
            position: relative;
            top: 25%;
            display: flex; 
            text-align: center;
            align-content: center;
            align-items: center;
            @include circle(40vw, #1b1b1b);
            @include shadowBox(0px, 7px, 2px);
        }
    }
    .gap__color{
        display: block;
        width: 100%;
        height: 100%;
        background-color: #00ffff;
        animation: loader 3s 0s ease-in-out infinite; 
    }
}

@keyframes loader{
    0%{transform: translateY(-100%);}
    50%{transform: translateY(100%);}
    100%{transform: translateY(-100%);}
}
}
@media only screen and (min-width: 1367px) and (max-width: 1920px){
.loader{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #3c3c3c;
    z-index: 1000000;

    .circle__{
        &in{
            --circleInRadius3: 20vw;
            @include circle(var(--circleInRadius3), #fff);
            position: fixed;
            left: calc(50vw - (var(--circleInRadius3) / 2));
            align-self: center;
            @include shadowBox(0px, 7px, 2px);
        }
        &out{
            position: relative;
            top: 25%;
            display: flex; 
            text-align: center;
            align-content: center;
            align-items: center;
            @include circle(28vw, #1b1b1b);
            @include shadowBox(0px, 7px, 2px);
        }
    }
    .gap__color{
        display: block;
        width: 100%;
        height: 100%;
        background-color: #00ffff;
        animation: loader 3s 0s ease-in-out infinite; 
    }
}

@keyframes loader{
    0%{transform: translateY(-100%);}
    50%{transform: translateY(100%);}
    100%{transform: translateY(-100%);}
}
}