:root{
    --textColor: #fff;
}

.posts{
    width: 100%;
    height: auto;
    background: transparent;
    color: var(--textColor);
    margin-top: 5%;

    .post__preview{
        width: 100%;
        height: auto;

        .post__title{
            color: var(--textColor);
            font-size: 2.5rem;
            text-align: center;
            text-decoration: none;
        }
        .post__subtitle{
            font-size: 1rem;
            text-align: center;
            text-decoration: none;
            color: var(--textColor);
        }
        .post__meta{
            color: var(--textColor);
            text-align: center;
        }
        .post__link{
            text-decoration: none;
        }
    }
}